@import "./_varaibles.scss";
.halloween{
   height: 20rem;
   position: relative;
}
.halloween-pic{
 height: 20rem;
 width: 25rem;
 //animation-name: slide-in;
 //animation-duration: 1s;
 //animation-timing-function: ease-out; 
}
.halloween-pic:hover {
    transform: skew(30deg, 20deg);
    transition: 0.2s;
}
