@import "./_varaibles.scss";
.halloween{
   height: 20rem;
   position: relative;
}
.halloween-pic{
 height: 20rem;
 width: 25rem;
 margin: 2rem;  
 animation-name: slide-in;
 animation-duration: 1s;
 animation-timing-function: ease-out; 
}
.halloween-pic:hover {
    transform: scale(0.3);
    transition: 0.2s;
}
