@import"./_varaibles.scss";

.rose{
    transition: .5s ease-in-out;
    height: 25rem; 
    animation: slide-in 1.5s linear infinite alternate;
}

@keyframes slide-in {
    0%{
        transform:translateX(-200px);
    }
    50%{
        transform:translateX(200px);
    }
    100%{
       transform:translateX(-200px);
    }
}

.rose:hover{
    filter: invert(80%);
}