html{
    font-size: 62.5%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
$colors: (
    black: #0000,
    purple: rgb(139, 25, 167),
    orange: rgb(231, 113, 16),

);

@function color($color-name) {
    @return map-get($colors, $color-name);
  }