@import "./_varaibles.scss";
@import"./_hover1.scss";
@import"./_hover2.scss";

html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hover{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-size: 2rem;
}

